// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-more {
  display: none
}

.question {
  margin-bottom: 20px;
  padding: 0 30px;
  position: relative;
}

.question-number {
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 10px;
}

.question-more-arrow {
  position: absolute;
  top: 0;
  right: 10px;
}

.answer-form {
  transition: background-color 0.2s linear;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  &:hover {
    background-color: #f1f1f1;
  }
}

.answer-value {
  text-align: right;
}

.answer {
  margin-bottom: 20px;
}

@media (min-width: 968px) {
  .show-response .answer-value {
    text-align: left;
  }
}

.question.more {
  cursor: pointer;
}

.active.answer-button {
  color: #fff;
}

.active.answer-button.yes {
  background-color: #5cb85c;
}

.active.answer-button.no {
  background-color: #d9534f;
}

.active.answer-button.unknown {
  background-color: #f0ad4e;
}

.source-input {
  width: 197px; /* Width of the button group. */
  display: inline-block;
  margin-top: 10px;
}
