// Place all the styles related to the Assessments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested-fields {
  border: 1px solid #ddd;
  padding: 10px;
}

.hero-image {
  width: 100%;
  padding-bottom: 20%;
  margin: 0;
  background-size: 100%;
  margin-bottom: 50px;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .hero-image {
    padding-bottom: 30%;
  }
}

.protest {
  background-image: url('/assets/images/freddie-gray-protest.jpg');
}

.hero-image h1 {
  text-align: center;
  margin: 0;
  padding-top: 10%;
  color: #fff;
  font-weight: 300;
  font-size: 48px;
}

.assessment-intro {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 25px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  margin: 0;
}

.section-header {
  background-color: #f1f1f1;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.section-edit {
  margin-bottom: 20px;
}

.section-icon,
.question-more-arrow {
  transition: transform 0.3s linear;
}

.question.open .question-more-arrow,
.section.active .section-icon {
  transform: rotate(90deg);
}

.answers {
  display: none;
}

.action-bar {
  text-align: right;
  margin-top: 20px;
}
