// Place all the styles related to the Assessments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested-fields {
  border: 1px solid #ddd;
  padding: 10px;
}

.hero-image {
  width: 100%;
  padding-bottom: 40%;
  margin: 0;
  background-size: 100%;
  margin-bottom: 50px;
  background-repeat: no-repeat;
}

.protest {
  background-image: url('/assets/images/freddie-gray-protest.jpg');
}

.hero-image h1 {
  text-align: center;
  margin: 0;
  padding-top: 10%;
  color: #fff;
  font-weight: 300;
  font-size: 48px;
}

.question.more {
  cursor: pointer;
}

.active.answer-button {
  color: #fff;
}

.active.answer-button.yes {
  background-color: #5cb85c;
}

.active.answer-button.no {
  background-color: #d9534f;
}

.active.answer-button.unknown {
  background-color: #f0ad4e;
}

.answer-source {
  margin-top: 20px;
  text-align: right;
}

.section-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0;
}

.answer-source input {
  width: 50%;
  display: inline-block;
}

.section-edit {
  margin-bottom: 20px;
}
