body {
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

a.btn-primary, a.btn-primary:visited {
  color: #fff;
}


@media print {
  .no-print {
    display: none;
  }

  @page {
    margin: 2cm;
  }

  .answer.row, .section {
    widows: 3;
    orphans: 3;
    page-break-inside: avoid;
  }
}
